.container {
  max-width: 800px; 
  margin: 20px auto; 
  padding: 20px;

  h2 {
    text-align: center; 
  }

  .card {
    background-color: white; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 20px; 
  }

  .action-buttons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    height: 100%; 
  }
  
  table {
    width: 100%;
    table-layout: fixed; 
  }

}
